<ion-header class="custom-header" translucent="true">
  <!-- Main Header Bar -->
  <div class="header-container">
    <!-- Brand Name -->
    <div class="brand-section">
      <div class="brand-title">Kamatchi supermart</div>
    </div>

    <!-- Delivery Location & User Profile -->
    <div class="actions-section">
      <!-- Delivery Info -->
      <div class="delivery-info">
        <ion-icon name="location-outline" class="location-icon"></ion-icon>
        <div class="delivery-details">
          <span class="deliver-to">Deliver to</span>
          <div class="location-selector">
            <span class="location-name"> {{ city }}</span>
            <span class="location-name" *ngIf="city">,{{ postalCode }}</span>
            
          </div>
        </div>
      </div>

      <!-- Delivery Status Badge -->
      <div class="delivery-status">
        <span class="status-text">Delivers in</span>
        <span class="status-badge">Slots Full</span>
      </div>

      <!-- Profile Icon -->
      <ion-buttons class="profile-button" (click)="alertEnabler()">
        <ion-avatar class="profile-avatar">
          <img src="../../assets/bell-solid-full.svg" class="profile-icon" />
        </ion-avatar>
      </ion-buttons>
    </div>

    <div class="mobile-actions-section">
      <div class="delivery-info">
        <i class="fa-solid fa-location-dot"></i>
        <div class="delivery-details">
          <div class="location-selector">
            <span class="location-name"> {{ city }}</span>
            <span class="location-name" *ngIf="city">,{{ postalCode }}</span>
            <ion-icon
              name="chevron-down-outline"
              class="dropdown-icon"
            ></ion-icon>
          </div>
        </div>
      </div>

      <!-- Delivery Status Badge -->
      <div class="delivery-status">
        <i class="fa-solid fa-truck"></i>
        <span class="status-badge">Slots Full</span>
      </div>
    </div>
  </div>

  <!-- Search Bar -->
  <div class="search-containerWrap">
  <div class="search-container">
    <input
      type="text"
      class="search-input"
      placeholder="Search 18000+ products"
      [(ngModel)]="searchText"
      (input)="onSearchChange()"
    />

    <i class="fa-solid fa-magnifying-glass search-icon"></i>

    <!-- Suggestion Box -->
    <div class="suggestion-box" *ngIf="filteredSuggestions.length > 0">
      <div
        class="suggestion-item"
        *ngFor="let suggestion of filteredSuggestions"
        (click)="selectSuggestion(suggestion.name)"
      >
        <i class="fa-solid fa-clock-rotate-left icon"></i>
        <span class="text">{{ suggestion.name }}</span>
      </div>
    </div>
  </div>
  </div>
</ion-header>

<!-- Categories -->
<div class="content">
  <div class="categories-scroll">
    <div class="category" *ngFor="let cat of suggestions">
      <div class="cat-displayer" (click)="selectSuggestion(cat)">
        <img src="../../assets/shapes.svg" />
        <p>{{cat}}</p>
      </div>
    </div>
  </div>
</div>

<ion-content
  class="contentClass"
  style="overflow-y: auto !important; --background: fff !important"
  fullscreen="true"
>
  <div class="bg" *ngIf="showAlert">
    <div class="backdrop" (click)="alertEnabler()"></div>
    <!-- Alert Container -->
    <div class="alert-container" id="alertContainer">
      <div
        class="alert-dialog"
        style="
          position: absolute;
          top: 30%;
          display: block;
          height: 18%;
          width: 80%;
        "
      >
        <div class="alert-title">
          <h2>Alert!</h2>
        </div>
        <div class="alert-buttons">
          <button class="alert-button" (click)="alertEnabler()">Cancel</button>
          <button class="alert-button" (click)="alertEnabler()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Section Tabs -->
  <div class="tabs">
    <span class="active">Popular</span>
    <span>Flash Sale</span>
    <span>New Arrival</span>
  </div>

  <div class="product-grid">
    <div *ngFor="let item of products" class="product-card">
      <div class="like" (click)="addWishlist(item)">
        <i
          class="fa-regular fa-heart"
          *ngIf="!item.isLiked"
          style="color: #6b1b6c"
        ></i>
        <i
          class="fa-solid fa-heart"
          *ngIf="item.isLiked"
          style="color: #e64e33"
        ></i>
      </div>

      <img src="../../assets/vege.jpg" alt="product" class="product-image" />

      <div class="product-content">
        <h3 style="color: olive">{{ item.name }}</h3>
        <p class="weight">{{ item.UnitDesc }}</p>

        <div class="price-row">
          <span class="price" style="width: 30%">₹ {{ item.MRP }}</span>

          <div class="add-btn" style="width: 70%" *ngIf="!item.isAdded">
            <button class="add-button" (click)="onAdd(item)">Add</button>
          </div>

          <div
            class="count"
            style="width: 70%; display: flex; gap: 2px"
            *ngIf="item.isAdded"
          >
            <button class="decrease" (click)="onRemove(item)">-</button>
            <input
              type="number"
              class="quantity"
              [value]="getQuantity(item)"
              style="
                width: 60%;
                background-color: aliceblue;
                border: 1px solid gray;
                border-radius: 4px;
                color: #000;
              "
            />
            <button class="increase" (click)="onAdd(item)">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer draggable" cdkDrag>
    <button
      class="nav-btn"
      [ngClass]="{ 'active': isWishlist }"
      (click)="togglePanel();setActive('Wishlist')"
    >
      <div class="icon-wrapper">
        <img src="../../assets/heart-solid-full.svg" class="profile-icon" />
      </div>
      <span class="nav-label">Wishlist</span>
      <span class="badge">{{ wishlist.length }}</span>
    </button>

    <!-- Home -->
    <button
      class="nav-btn"
      [ngClass]="{ 'active': isHome }"
      (click)="setActive('Home')"
    >
      <div class="icon-wrapper">
        <img src="../../assets/house-solid-full.svg" class="profile-icon" />
      </div>
      <span class="nav-label">Home</span>
    </button>

    <!-- Profile -->
    <button
      class="nav-btn"
      [ngClass]="{ 'active': isProfile }"
      (click)="togglePanel();setActive('Profile')"
    >
      <div class="icon-wrapper">
        <img src="../../assets/user-solid-full.svg" class="profile-icon" />
      </div>
      <span class="nav-label">Profile</span>
    </button>
    <!-- Cart -->
    <button
      class="nav-btn"
      [ngClass]="{ 'active': isCart }"
      (click)="togglePanel();this.setActive('Cart')"
    >
      <div class="icon-wrapper">
        <img
          src="../../assets/cart-shopping-solid-full.svg"
          class="profile-icon"
        />
        <span class="badge">{{ selectedProduct.length }}</span>
      </div>
      <span class="nav-label">Cart</span>
    </button>

    <!-- <button class="nav-btn" onclick="setActive(this)">
        <div class="icon-wrapper">
          <img src="../../assets/credit-card-solid-full.svg" class="profile-icon" />
        </div>
        <span class="nav-label">Categories</span>
      </button> -->
    <!-- Wishlist -->
  </div>

  <!-- Backdrop -->

  <!-- Alert Container -->
</ion-content>

<!-- SIDE PANEL (slides in/out) -->
<div class="side-panel" [class.open]="isPanelOpen">
  <div class="panel-header">
    <div class="panel-head" *ngIf="isCart">
      <button class="close-btn" (click)="setActive('Home');togglePanel(); ">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <h4 style="margin: 0px 0px 0px 10px">Items in Cart</h4>
    </div>
    <div class="panel-head" *ngIf="isWishlist">
      <button class="close-btn" (click)="setActive('Home');togglePanel(); ;">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <h4 style="margin: 0px 0px 0px 10px">Items you Liked</h4>
    </div>
    <div class="panel-head" *ngIf="isProfile">
      <button class="close-btn" (click)="setActive('Home');togglePanel();">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <h4 style="margin: 0px 0px 0px 10px" *ngIf="!paymentModeUI">Profile Information</h4>
      <h4 style="margin: 0px 0px 0px 10px" *ngIf="paymentModeUI">Place order</h4>
    </div>

     <div class="panel-head" *ngIf="isOrderHistory">
      <button class="close-btn" (click)="closeOrderHistory()">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <h4 style="margin: 0px 0px 0px 10px">My Orders</h4>
    </div>

  </div>
  <div
    class="cart-list"
    style="flex: 1; overflow: auto; display: flex; flex-direction: column"
    *ngIf="isCart"
  >
    <div class="cart-section">
      <div *ngFor="let item of selectedProduct" class="cart-item">
        <div class="product-card">
          <div class="like" (click)="removeFromCart(item)">
            <i class="fa-regular fa-circle-xmark" style="color: #a453d0"></i>
          </div>
          <img
            src="../../assets/vege.jpg"
            alt="product"
            class="product-image"
          />

          <div class="product-content">
            <h3>{{ item.name }}</h3>
            <p class="weight">{{ item.weight }}</p>

            <div class="price-row">
              <span class="price" style="width: 30%">${{ item.price }}</span>

              <div class="add-btn" style="width: 70%" *ngIf="!item.isAdded">
                <button class="add-button" (click)="onAdd(item)">Add</button>
              </div>

              <div
                class="count"
                style="width: 70%; display: flex; gap: 2px"
                *ngIf="item.isAdded"
              >
                <button class="decrease" (click)="onRemove(item)">-</button>
                <input
                  type="number"
                  class="quantity"
                  [value]="getQuantity(item)"
                  style="
                    width: 60%;
                    background-color: aliceblue;
                    border: 1px solid gray;
                    border-radius: 4px;
                  "
                />
                <button class="increase" (click)="onAdd(item)">+</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="no-item" *ngIf="selectedProduct.length === 0">
        No products in the cart
      </div>
    </div>
    <div class="panel-footer">
      <div class="total">Total: ₹ {{ totalPrice }}</div>
      <div class="cart-buttons">
        <button class="checkout-btn" (click)="onPlaceOrder()">Place order</button>
        <!-- (click)=" pay()" -->
        <button class="checkout-btn" (click)="clearCart()">Clear Cart</button>
      </div>
    </div>
  </div>
  <div
    class="wish-list"
    style="flex: 1; overflow: auto; display: flex; flex-direction: column"
    *ngIf="isWishlist"
  >
    <div class="cart-section">
      <div *ngFor="let item of wishlist" class="cart-item">
        <div class="product-card">
          <div class="like" (click)="removeFromWishlist(item)">
            <i class="fa-regular fa-circle-xmark" style="color: #a453d0"></i>
          </div>

          <img
            src="../../assets/vege.jpg"
            alt="product"
            class="product-image"
          />

          <div class="product-content">
            <h3>{{ item.name }}</h3>
            <p class="weight">{{ item.weight }}</p>

            <div class="price-row">
              <span class="price" style="width: 30%">${{ item.price }}</span>

              <div class="add-btn" style="width: 70%" *ngIf="!item.isAdded">
                <button class="add-button" (click)="onAdd(item)">Add</button>
              </div>

              <div
                class="count"
                style="width: 70%; display: flex; gap: 2px"
                *ngIf="item.isAdded"
              >
                <button class="decrease" (click)="onRemove(item)">-</button>
                <input
                  type="number"
                  class="quantity"
                  [value]="getQuantity(item)"
                  style="
                    width: 60%;
                    background-color: aliceblue;
                    border: 1px solid gray;
                    border-radius: 4px;
                  "
                />
                <button class="increase" (click)="onAdd(item)">+</button>
              </div>
            </div>
          </div>
        </div>
        <div class="no-item" *ngIf="wishlist.length === 0">
          No products in the wishlist
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="total">Total: ${{ totalPrice }}</div>
      <div class="cart-buttons">
        <button class="checkout-btn">Payment</button>
        <button class="checkout-btn" (click)="clearCart()">
          Clear Wishlist
        </button>
      </div>
    </div>
  </div>

  <!-- ORDER HISTORY PANEL -->
<div class="order-history" 
     style="flex: 1; overflow: auto; display: flex; flex-direction: column" 
     *ngIf="isOrderHistory">
<div class="orders-list" style="padding: 16px;">
  <div *ngFor="let order of orders" class="order-card-modern">

    <!-- Header -->
    <div class="order-modern-header">
      <div>
        <div class="order-id">Order #{{ order.orderId }}</div>
        <div class="order-date">{{ order.date | date : 'medium' }}</div>
      </div>

      <div class="order-status"
           [ngClass]="{
              'cancelled': order.status === 'cancelled',
              'completed': order.status === 'delivered'
           }">
        {{ order.status }}
      </div>
    </div>

    <!-- Stepper -->
    <div class="order-stepper" *ngIf="order.status != 'pending' && order.status != 'cancelled' && order.status != 'delivered'">

      <!-- PICKED -->
      <div class="step" [class.active]="order.status !== 'pending'">
        <div class="circle">
          <ng-container *ngIf="order.status === 'picked' 
                            || order.status === 'packed' 
                            || order.status === 'delivered'|| order.status === 'Out for delivery'; else number1">
            ✔
          </ng-container>
          <ng-template #number1>1</ng-template>
        </div>
        <span>Picked</span>
      </div>

      <div class="line"
           [class.active]="order.status === 'packed' 
                        || order.status === 'delivered'|| order.status === 'Out for delivery'"></div>

      <!-- PACKED -->
      <div class="step" [class.active]="order.status === 'packed' 
                                     || order.status === 'delivered'|| order.status === 'Out for delivery'">
        <div class="circle">
          <ng-container *ngIf="order.status === 'packed' 
                            || order.status === 'delivered'|| order.status === 'Out for delivery'; else number2">
            ✔
          </ng-container>
          <ng-template #number2>2</ng-template>
        </div>
        <span>Packed</span>
      </div>

      <div class="line"
           [class.active]="order.status === 'delivered'"></div>

      <!-- DELIVERED -->
      <div class="step" [class.active]="order.status === 'delivered'">
        <div class="circle">
          <ng-container *ngIf="order.status === 'delivered'; else number3">
            ✔
          </ng-container>
          <ng-template #number3>3</ng-template>
        </div>
        <span>Delivered</span>
      </div>

    </div>

    <!-- Amount -->
    <div class="order-total">₹ {{ order.amountPaid }}</div>

    <!-- Cancel Button -->
    <button 
      *ngIf="order.status == 'pending'"
      class="cancel-order-btn"
      (click)="cancelOrder(order.orderId)">
      Cancel Order
    </button>

  </div>
</div>

</div>


<div
  class="profile-details"
  style="flex: 1; overflow: auto; display: flex; flex-direction: column"
  *ngIf="isProfile || paymentModeUI"
>
  <div class="user-details">

    <!-- SHOW AVATAR ONLY IF NOT PAYMENT MODE -->
    <div class="profile-header" *ngIf="!paymentModeUI">
      <div class="avatar">
        <i class="fa-solid fa-user"></i>
      </div>
    </div>

    <!-- COLLAPSIBLE SECTION -->
    <div class="collapsible-container">
      <div class="collapsible-header" (click)="toggleDetails()">
        <span>My Details</span>
        <i class="fa-solid" [ngClass]="showDetails ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
      </div>

      <div class="collapsible-body" *ngIf="showDetails">
        <mat-form-field appearance="outline" class="full-width-field">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name" [(ngModel)]="userName" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your gmail" [(ngModel)]="email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-field">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Enter your phone no" [(ngModel)]="phoneNumber" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-field">
          <mat-label>Delivery Address</mat-label>
          <input matInput placeholder="Enter your address" [(ngModel)]="address" />
        </mat-form-field>
      </div>
    </div>

    <!-- ORDERS + LOGOUT ONLY IF NOT PAYMENT MODE -->
<div class="list-settings" *ngIf="!paymentModeUI">
  <div class="list-item" (click)="openOrderHistory()">
    <span>My Orders</span>
    <i class="fa-solid fa-chevron-right"></i>
  </div>

  <div class="list-item logout" (click)="logout()">
    <span>Logout</span>
    <i class="fa-solid fa-chevron-right"></i>
  </div>
</div>


    <!-- PAYMENT MODE UI -->
    <div class="payment-container" *ngIf="paymentModeUI">
      <div class="payment-title">Payment Mode</div>

      <mat-radio-group [(ngModel)]="paymentMode" class="payment-mode-group">
        <mat-radio-button value="cash">Cash</mat-radio-button>
        <mat-radio-button value="upi">UPI</mat-radio-button>
      </mat-radio-group>
    </div>

  </div>

  <div class="panel-footer">
    <div class="cart-buttons">
      <button class="checkout-btn" (click)="saveUserData()">Save</button>
      <button class="checkout-btn" (click)="clearCart()">Clear</button>
    </div>
  </div>
</div>


</div>

<div class="overlay" [class.show]="isPanelOpen" (click)="togglePanel()"></div>

<!-- <footer class="custom-footer">
 
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="home-outline"></ion-icon>
        <span>Home</span>
      </ion-button>
      <ion-button>
        <ion-icon name="grid-outline"></ion-icon>
        <span>Categories</span>
      </ion-button>
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
        <span>Profile</span>
      </ion-button>
    </ion-buttons>
</footer> -->

<!-- OVERLAY -->
<div class="overlayDiv" *ngIf="isModalOpen" ></div>

<!-- MAIN MODAL BOX -->
<div class="auth-box" *ngIf="isModalOpen">
  
  <!-- HEADER -->
  <div class="auth-header">
    <h2>{{ isSignupMode ? "Create Account" : "Login" }}</h2>
    <button class="close-btn" (click)="closeModal()">✕</button>
  </div>

  <ng-container *ngIf="isForgotMode">

  <div class="form-group" *ngIf="!otpSent">
    <label>Email / Phone</label>
    <input type="text" [(ngModel)]="forgotData.identifier" placeholder="Enter registered mobile or email">
  </div>

  <button class="primary-btn" *ngIf="!otpSent" (click)="sendResetOTP()">Send OTP</button>

  <div class="otp-section" *ngIf="otpSent">
    <div class="form-group">
      <label>Enter OTP</label>
      <input type="text" [(ngModel)]="forgotData.otp" placeholder="Enter OTP">
    </div>

    <div class="form-group">
      <label>New Password</label>
      <input type="password" [(ngModel)]="forgotData.password" placeholder="Enter new password">
    </div>

    <button class="primary-btn" (click)="resetPassword()">Reset Password</button>
  </div>

  <p class="switch-text" (click)="switchToLogin()">Back to Login</p>

</ng-container>

  <!-- ---------------- LOGIN VIEW ---------------- -->
  <ng-container *ngIf="isLoginMode">

    <div class="form-group">
      <label>Email / Phone</label>
      <input type="text" [(ngModel)]="loginData.identifier" placeholder="Enter mobile or email">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="loginData.password" placeholder="Enter password">
    </div>

    <p class="forgot-text" (click)="openForgotPassword()">Forgot Password?</p>

    <button class="primary-btn" (click)="login()">Login</button>

    <button class="skip-btn" (click)="skipLogin()">Skip for now</button>

    <p class="switch-text" (click)="switchToSignup()">New user? Create Account</p>

  </ng-container>

  <!-- ---------------- SIGNUP VIEW ---------------- -->
  <ng-container *ngIf="isSignupMode">

    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="signupData.name" placeholder="Enter full name">
    </div>

    <div class="form-group">
      <label>Email / Phone</label>
      <input type="text" [(ngModel)]="signupData.mobile" placeholder="Enter mobile or email">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="signupData.password" placeholder="Create password">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" [(ngModel)]="signupData.confirm" placeholder="Confirm password">
    </div>

    <div class="form-group">
      <label>Address</label>
      <textarea [(ngModel)]="signupData.address" placeholder="Enter address"></textarea>
    </div>

    <button class="primary-btn" (click)="signup()">Create Account</button>

    <p class="switch-text" (click)="switchToLogin()">Already have an account? Login</p>

  </ng-container>
</div>



